<h1 class="text-center"><%= @cocktail.name %></h1>

<% for i in @doses  %>
<%= i.description %>
<%= i.ingredient.name %>
<%= link_to "delete", dose_path(i), method: :delete, data: { confirm: "Are you sure?"} %>
<%  end %>

<%= link_to "back", cocktails_path %>


<%= link_to "Create", new_cocktail_dose_path(@cocktail) %>
